<section class="container">
  <div class="row">
    <div class="col-md-6" style="background-color: steelblue;">左</div>
    <div class="col-md-6" style="background-color: lightpink;">右</div>
  </div>
</section>

<section class="container">

  <h1>TEST01</h1>
  <h2>TEST02</h2>
  <h3>TEST03</h3>
  <h4>TEST04</h4>
  <h5>TEST05</h5>
  <h6>TEST06</h6>



<p>各種設定や登録内容を確認することができます。</p>
<p>ご利用になりたい機能のメニューを選択してください。</p>
<div id="menu">
  <div class="row text-left" style="margin-top:20px;">
    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-tower"></span>　管理者アカウント管理</p>
    </div>

    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-th-large"></span>　サービス管理</p>
    </div>

    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-folder-open"></span>　ドメイン管理</p>
    </div>
  </div>

  <div class="row text-left" style="margin-top:30px;">
    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-user"></span>　ユーザー管理</p>
    </div>

    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-envelope"></span>　メールアカウント管理</p>
    </div>

    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-globe"></span>　Webアカウント管理</p>
    </div>
  </div>

  <div class="row text-left" style="margin-top:30px;">
    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-tasks"></span>　同報メール管理</p>
    </div>

    <div class="col-sm-4">
      <p class="subtitle"><span class="glyphicon glyphicon-cog"></span>　システム管理</p>
    </div>
  </div>
</div>
</section>
